
/*PAGE: CURRENT ISSUE*/
  /*CURRENT ISSUE HEADER: Styling the header bar with button, search, and menu */
      /*Sticky header menu*/
      .header {
        padding: 10px 16px;
        background:thistle;
      }
      
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .sticky + .content {
        padding-top: 102px;
      }
      
      /*Styling for the Subscribe button on home page*/
      .header-button {
        font-family: inherit ;
        display: inline;
      }
      /* Get the menu hamburger image to sit on the right of page and share the same line as button*/
      .header-menu {
        float: right;
        margin-right: 15px;
        display: inline-block;
      }

      /* Set the navigation menu look */
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 40%x;
        background-color: black;
        color: thistle;
        border: solid black 1px;
        border-radius: 8px;
        text-align: center;
        display: inline-block;
      }
      /*Set the style for link in the navigation menu*/
      li a {
        display: block;
        background-color: black;
        color: thistle;
        padding: 8px 70px;
        text-decoration: none;
        border-radius: 8px;
      }

      /* Change link colour when user hovers over it */
      li a:hover {
        background-color:thistle;
        color: black;
        border-style: solid;
        border-color: black;
        border-width: 1px;
      }

      /*Highlight the active link*/
      .active {
        background-color: rgba(100, 0, 139, 0.479);
        color: thistle;   
      }

      /*Display the menu/navigation when user hovers over hamburger icon*/
      .dropdown {
        display: inline-block;
        float: right;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 200px;
        right: 0;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }

  /*CURRENT ISSUE TITLE*/
  #shrink {
    font-weight: inherit;
    font-size: 100px;
    background-color: transparent;
    color: black;
    text-align: center;
    position: static;
    top: 0;
    width: 100%; 
    transition: 0.7s; 
    display: inline-block;
  }

  /* CURRENT ISSUE COVER IMAGE */
  /*Make the image centered and responsive*/
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  

/* GENERAL STYLING: Styling for entire website */

button {
  font-family: 'Montserrat' ;
  color: black;
  background-color: thistle;
  padding: 10px 10px 10px 10px;
  margin-left: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid black;
  transition-duration: 0.4s;
}

/* Change button colour on hover */
button:hover {
  background-color: black;
  color: thistle;
}

body {
  background-color: thistle;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Monoton';
  font-weight: 100;
  font-size: 100px;
}