/* ALL WIDTHS, SITE-WIDE STYLING */
        /* Color Theme Swatches in RGBA */
        .Swatch-blue { color: rgba(128, 182, 207, 1); }
        .Swatch-light-blue { color: rgba(202, 235, 242, 1); }
        .Swatch-dark-grey { color: rgba(112, 112, 112, 1); }
        .Swatch-red { color: rgba(255, 59, 63, 1); }
        .Swatch-light-grey { color: rgba(186, 186, 186, 1); }

/* These styles apply to the entire site, for all screen widths */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(202, 235, 242, 1);
  }

h1 {
font-family: 'Montserrat';
color: rgba(128, 182, 207, 1); 
text-decoration: overline;
}  
h2 {
    font-family: 'Montserrat';
    color: rgba(128, 182, 207, 1); 
    text-decoration: underline;
    }
    
h3{
    color: white;
    background-color: rgba(128, 182, 207, 1);
    padding: 5px;
}

button {
    font-family: 'Montserrat' ;
    color: white;
    background-color: rgba(255, 59, 63, 1);
    padding: 10px 10px 10px 10px;
    margin-left: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid rgb(202, 235, 242);
    transition-duration: 0.4s;
  }
  
  /* Change button colour on hover */
  button:hover {
    background-color: rgba(128, 182, 207, 1) ; 
    color: white;
    border: 1px solid white;
  }

  /*Set the styling for all links in the website*/
  a:link {
    color: white;
    text-decoration: none;
}

a:visited{
  color: white;
  text-decoration: none;

}

a:hover{
  color:rgba(255, 59, 63, 1);
  text-decoration: underline;
}

a:active{
  color:rgba(255, 59, 63, 1);
  text-decoration: underline;
}

/* MOBILE, SITE-WIDE STYLING */
    /*Headings*/
    h1 {
        text-align: center;
    }
    /* Magazine title styling */
        .mag-title {
            font-family: 'Monoton';
            font-weight: 100;
            font-size: 3em;
            color: rgba(128, 182, 207, 1) ;
            text-decoration: none;
            letter-spacing: 3px;
            border: rgba(255, 59, 63, 1) dashed 2px;
            margin: 2px;
            padding: 3px;
        }
    /* Header styling */
        .header-container {
            display: flex;
            flex-direction: column; 
        }
        .header-item {
            align-self: center;
            
        }
        /*Display the menu/navigation when user hovers over hamburger icon*/
        .menu-icon {
            display: block;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        .dropdown {
            display: inline-block;
            float: right;
            
        }
        .dropdown-content {
            display: none;
            position: absolute;
            
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
        /* Set the navigation menu look */
        .nav-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%x;
            color: white;
            border-radius: 8px;
            text-align: center;
            display: inline-block;
        }
        /*Set the style for link in the navigation menu*/
        /*Give the links a block display with gray background and no bullets*/
        .nav-link {
            display: block;
            background-color: rgba(186, 186, 186, 1);
            color: white;
            padding: 8px 70px;
            text-decoration: none;
        }
        /* Change link colour when user hovers over it to the red accent colour.*/
        .nav-link:hover {
        background-color:rgba(255, 59, 63, 1);
        color: white;
        }
        
    
    /* Footer styling*/
    /*Keep the footer at the bottom of the page with a 100% width and a constant height.*/
        footer {
            position:static;
            left:0px;
            bottom:0px;
            height:200px;
            width:100%;
            background: rgba(128, 182, 207, 1);
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            justify-content: space-evenly;
            color: white;
        }

        .footer-icon{
            width: 30px;
            height: auto;
        }

        


/* TABLET, SITE-WIDE STYLING */
@media only screen and (min-width: 780px) {
    h1 {
        text-align: left;
    }
    /* Magazine title styling */
        .mag-title {
            font-family: 'Monoton';
            font-weight: 100;
            font-size: 4em;
            }
        
    /* Header styling */
        .header-container {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .header-item {
            align-items: center;
        }
        
    /* Footer styling*/
        footer {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            flex-wrap: nowrap;
            height:100px; 
        }

        .footer-item {
            display: flex;
            align-items: center;
            align-content: center;
      
         }

}    

/* DESKTOP, SITE-WIDE STYLING */
@media only screen and (min-width: 1000px){
    h1 {
        text-align: left;
        padding-left: 10px;
    }

    /* Magazine title styling */
        .mag-title {
            font-family: 'Monoton';
            font-weight: 100;
            font-size: 4em;
        }
    /* Header styling */
    /* Set the navigation menu look to be inline (not a dropdown menu) */
    .menu-icon {
        display: none;
    }
    .nav-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: white;
        
    }

    .nav-link {
        display: block;
        float: right;
    }
    /*Set the style for link in the navigation menu*/
    .nav-link {
        
        color: white;
        text-decoration: none;
        margin-left: 2px;
        margin-right: 2px;
    }
    .dropdown {
        display: block;
        
    }
    
    .dropdown-content {
        display: inline;
        position: relative;
        right: 0;
    }
    /* Change link colour when user hovers over it */
    .nav-link :hover {
    background-color:rgba(255, 59, 63, 1);
    color: white;
    }

    /*Highlight the active link*/
    .nav-active {
        background-color: rgba(128, 182, 207, 1);
        color: white;   
    }
    /* Footer styling*/
        footer {
            flex-direction: row;
            align-items: stretch;
            justify-content: space-around;
            flex-wrap: nowrap;
        }
        
        .footer-item {
            display: flex;
            align-items: center;
            align-content: center;
        }
}    

/* LANDING PAGE STYLING */
    /* MOBILE */
        /* Front page image styling */
        /* Current issue article grid styling */
            .article-grid {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: space-around;
                flex-wrap: wrap;
            }
            
            .article-grid-item {
                border: rgba(255, 59, 63, 1) dashed 2px;
                padding: 15px;
                margin: 5px;
                display: flex;
                align-items: center;
                flex: 100px;
            }
            .cover-image{
                /*Make the image grow as the screen grows, but does not exceed picture size.*/
                max-width: 100%;
                height: auto;
                /*Make the picture centered in the window*/
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .cover-image-text{
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: rgba(128, 182, 207, 0.5);
                padding: 20px;
                text-align: center;
                color:white;
            }

            .grid-image{
                width: 50%;
                height: auto;
                margin-right: 10px;
            }

            a {
                padding: 0px;
            }
    
    /* TABLET */
    @media only screen and (min-width: 780px) {
        /* Front page image styling */
        /* Current issue article grid styling */
            .article-grid {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: stretch;
                justify-content: space-around;
            }
        
            .article-grid-item {
                flex: 200px;
                margin: 15px;
                width: 30%;
            }
            
    }

    /* DESKTOP */
    @media only screen and (min-width: 1000px) {
        /* Front page image styling */
        /* Current issue article grid styling */
            .article-grid {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: stretch;
                justify-content: space-around;
            }
        
            .article-grid-item {
                flex: 200px;
                margin: 15px;
            }
    }
/* ARTICLE PAGE STYLING */
    /* MOBILE */
        /* Banner image */ 
        /*Takes the main article image and makes it a hero background image with text on top.*/
        .banner-image{
            background-image: linear-gradient(rgba(112, 112, 112, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1585282779872-6ec1b149e551?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
            height: 400px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        } 

        #banner-text{
            text-align: center;                       
            position: absolute;
            top: 40%;
            color: white;
        }
        #banner-heading{
            color: white;
        }
        
        /* Article text */
        /*Create a thin container of text in the center of the page for easy reading.*/
        .article-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around; 
        }
        .article-container > p {
            align-self: center;
            width: 350px;
            line-height: 1.8;
            text-align: justify;
        }

        /*Image gallery*/
        .image-gallery-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .image-gallery-item{
            
        }
        .gallery-image{
            width:100%;
            height: auto;
        }
        /* Related stories carousel */
    /* TABLET */
    @media only screen and (min-width: 780px) {
        /*Banner image*/
        /* Article text */
        /* Image gallery */ 
        /* Related stories carousel */
    }
        
    
    /* DESKTOP */
    @media only screen and (min-width: 1000px) {
        /*Banner image*/
        /* Article text */
        /* Image gallery */ 
        /* Related stories carousel */
    }

/* ABOUT PAGE STYLING */
    .info-heading {
        text-transform: uppercase;
        letter-spacing: 3px;
        
    }    

    #about-p {
        text-align: center;
        font-size: 1.5em;
    }
    #sub-about-p{
        text-align: center;
    }
    /* MOBILE */
        /* Magazine information */
        .mag-info-container {
            display: flex;
            flex-direction: column;
            align-content: stretch;
            align-items: stretch;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .mag-info-container-item {
            padding-left: 3px;
            text-align: center;
        }

        /* Contact information */
        .contact-office-container {
            display: flex;
            flex-direction: column;
            align-content: stretch;
            align-items: stretch;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .contact-office-container-item {
            padding-left: 3px;
            text-align: center;
        }
        /* Office information and map */
        .map-container {
            text-align: center;
        }

    /* TABLET */
    @media only screen and (min-width: 780px) {
        /* Magazine information */
        .mag-info-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: space-around;
        }

        .mag-info-container-item {
            flex: 200px;
            margin: 15px;
            width: 30%;
            text-align: left;
            }
        /* Contact information */
        .contact-office-container {
            display: flex;
            flex-direction: row;
            align-content: stretch;
            align-items: stretch;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .contact-office-container-item {
            flex: 200px;
            margin: 15px;
            width: 30%;
            text-align: left;
        }

        #about-p {
            text-align: left;
        }
        #sub-about-p{
            text-align: left;
        }
        /* Office information and map */
    
    }
    /* DESKTOP */
    @media only screen and (min-width: 1000px) {
        /* Magazine information */
        /* Contact information */
        /* Office information and map */
    }

/* SUBSCRIBE PAGE STYLING */
    /* MOBILE */
        /* Subscription options containers */
        .subscription-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            
        }

        .subscription-container-item {
            flex: 200px;
            margin: 15px;
            width: 80%;
            text-align: center;
            border: lightcoral dashed 2px;
            padding: 20px;
            }

        .subscription-list{
            color: black;   
        }

        .subscription-list li{
            padding-bottom: 15px;
        }

        .subscription-option-heading{
            color: white;
            background-color: rgba(128, 182, 207, 0.568);
            padding-top: 10px;
            padding-bottom: 10px;
            
        }
        
    /* TABLET */
    @media only screen and (min-width: 780px){
        /* Subscription options containers */
        .subscription-container{
            display: flex;
            flex-direction: row;
            
            align-items: stretch;
            justify-content: space-around;
        }

        .subscription-container-item {
            margin: 15px;
            min-width: 40%;
            text-align: center;
            }
    }
        

    /* DESKTOP */
    @media only screen and (min-width: 1000px) {
        /* Subscription options containers */
        .subscription-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        .subscription-container-item {
            margin: 15px;
            min-width: 40%;
            text-align: center;
            }

    }
        

/* CHECKOUT FORM PAGE STYLING */
    /* MOBILE */
        /* Billing details */
        form {
            
            
        }
        input {
            width: 75%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border-radius: 4px;
            border: white;
          }

          select {
            width: 75%;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
          }
          label {
              color: black;
              text-align: left;
          }
        

          

        /* Your order summary */
        table{
            width: 75%;
            border: 2px dashed rgba(255, 59, 63, 1);
            padding: 15px;
            overflow-x: auto;
            margin-bottom: 15px;

        }
        th {
            text-align: left;
            padding-bottom: 10px;
            
          }
        td {
        padding-bottom: 5px;
        text-align: left;
        }

        
        /* Payment method */

    /* TABLET */
    @media only screen and (min-width: 780px){
        /* Billing details */    
        form {
        
        }
        /* Your order summary */
        /* Payment method */

    }


    /* DESKTOP */
    @media only screen and (min-width: 1000px) {
        /* Billing details */
        /* Your order summary */
        /* Payment method */
        
    }

    /*Pattern page*/
        .video-container {
            display: flex;
            justify-content: center;
        }      