
  /* GENERAL STYLING: Styling for entire website */

  button {
    font-family: 'Montserrat' ;
    color: black;
    background-color: thistle;
    padding: 10px 10px 10px 10px;
    margin-left: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid black;
    transition-duration: 0.4s;
  }
  
  /* Change button colour on hover */
  button:hover {
    background-color: black;
    color: thistle;
  }
  
  body {
    background-color: thistle;
    font-family: 'Montserrat', sans-serif;
  }
  
  .mag-title {
    font-family: 'Monoton';
    font-weight: 100;
    
  }

  h1 {
    font-family: 'Montserrat';
  }

  footer {
    position:static;
    left:0px;
    bottom:0px;
    height:200px;
    width:100%;
    background:rgba(255, 127, 80, 0.445);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

   /*Tablet*/
   @media only screen and (min-width: 600px) {
    footer {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: nowrap;
      height:100px;
      
    }
    
    .footer-item {
      display: flex;
      align-items: center;
      align-content: center;

   }

   .flex-item1 {
     flex:23;
   }

   .flex-item2 {
    flex:1;
  }

  .flex-item3 {
    flex:1;
  }

  .flex-item4 {
    flex:1;
  }

   /*Desktop*/
  @media only screen and (min-width: 768px) {
    footer {
      flex-direction: row;
      align-items: stretch;
      justify-content: space-around;
      flex-wrap: nowrap;
    }
    
    .footer-item {
      display: flex;
      align-items: center;
      align-content: center;
  }

/* HEADER AND MENU STYLING*/
header {
  display: flex;
  flex-direction: row;
}

/*----------------------------------------------------------------------------*/

  /*PAGE: INDEX COPY*/
  /*CURRENT ISSUE HEADER: Styling the header bar with button, search, and menu */
      /*Sticky header menu*/
      .header {
        padding: 10px 16px;
        background:thistle;
      }
      
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .sticky + .content {
        padding-top: 102px;
      }
      
      /*Styling for the Subscribe button on home page*/
      .header-button {
        font-family: inherit ;
        display: inline;
      }
      /* Get the menu hamburger image to sit on the right of page and share the same line as button*/
      .header-menu {
        float: right;
        margin-right: 15px;
        display: inline-block;
      }

      /* Set the navigation menu look */
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 40%x;
        background-color: black;
        color: thistle;
        border: solid black 1px;
        border-radius: 8px;
        text-align: center;
        display: inline-block;
      }
      /*Set the style for link in the navigation menu*/
      li a {
        display: block;
        background-color: black;
        color: thistle;
        padding: 8px 70px;
        text-decoration: none;
        border-radius: 8px;
      }

      /* Change link colour when user hovers over it */
      li a:hover {
        background-color:thistle;
        color: black;
        border-style: solid;
        border-color: black;
        border-width: 1px;
      }

      /*Highlight the active link*/
      .active {
        background-color: rgba(100, 0, 139, 0.479);
        color: thistle;   
      }

      /*Display the menu/navigation when user hovers over hamburger icon*/
      .dropdown {
        display: inline-block;
        float: right;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 200px;
        right: 0;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }

  /*CURRENT ISSUE TITLE*/


  /* CURRENT ISSUE COVER IMAGE */

  
  /* CURRENT ISSUE ARTICLE GRID: Responsive layout using flexbox */
  /*Mobile*/
   .article-grid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .article-grid-item {
    border: black dashed 1px;
    padding: 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    flex: 100px;
    
  }
  
   /*Tablet*/
  @media only screen and (min-width: 600px) {
    .article-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-around;
    }

    .article-grid-item {
      flex: 200px;
      margin: 15px;
      width: 30%;
    }

  }

  /*Desktop*/
  @media only screen and (min-width: 768px) {
    .article-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-around;

    }

    .article-grid-item {
      flex: 200px;
      margin: 15px;
    }

  }
